* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  margin: 3em;
  border: 2px solid #000;
  box-shadow:  1px 1px #a8a8a8;
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
  border-bottom: 2px solid #000;
  style: block;
  cursor: pointer;
}

td {
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 3em;
}

.info_hide {
 display: none;
}
